<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-96GHV7J9Q8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-96GHV7J9Q8");
        </script>
        {{ block "load_paginator" . }} {{ end }} {{ partial "meta.html" . }} {{ partial "title.html" . }} {{ partial "link.html" . }} {{ partial
        "load_site_assets.html" . }} {{ block "load_page_assets" . }} {{ $noop := .Content }} {{ end }} {{ partial "assets.html" . }}
    </head>

    <body>
        {{ partialCached "banner.html" . }}
        <main>
            <div class="u-wrapper">
                <div class="u-padding">{{ block "main" . }}{{ end }}</div>
            </div>
        </main>
        {{ partialCached "footer.html" . }}
    </body>
</html>
